name: Deploy Static Website to S3

on:
  push:
    branches:
      - main

permissions:
  id-token: write   # Required for requesting the JWT from GitHub
  contents: read    # Required for actions/checkout to fetch your code

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::026090525608:role/github-actions-deploy-site
          aws-region: us-east-1

      - name: Deploy site to S3
        run: |
          aws s3 sync website/ s3://talhairving.com --delete

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E2QTWUAHVZ593 \
            --paths "/*"
